{% extends "folioadmin/base.html" %}{% load static %}{% block content %}

<main id="main" class="main">
  <div class="d-flex" style="justify-content: space-between;">
    <div class="pagetitle">
      <h1>Interest Page </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active">Interest</li>
        </ol>
      </nav>
    </div>
    <!--  -->
    <div class="add_btn" style="justify-content:end;">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
        Add Data
      </button>
    </div>
  </div>
  <!--  -->
    <div class="modal fade" id="basicModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Add  Data</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{% url 'interestform' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
              <div class="col-12">
                <label for="inputNanme4" class="form-label">Interest Name <span class="text-danger">*</label>
                <input type="text" name="interest_name" class="form-control" id="inputNanme4" required>
              </div><br>
              <div class="col-12">
                <label for="inputEmail4" class="form-label">Interest Image <span class="text-danger">*</span></label>
                <input type="file" name="interest_pic" class="form-control" id="inputEmail4" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary btn-pill">Save </button>
            </div>
          </form>
        </div>
      </div>
    </div><!-- End Basic Modal--><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
               <!-- Table with stripped rows -->
              <table class="table" style="margin: 0 auto; text-align: center;">

                <thead>
                  <tr>
                    <th scope="col">SR no</th>
                    <th scope="col">Interest Name</th>
                    <th scope="col">Interest Image</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in interestobj %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.interest_name}}</td>
                    <td>
                      {% if i.interest_pic %}
                        <img src="{{i.interest_pic.url}}" height="50px" width="100px" >                                    
                      {% endif %}                      
                    </td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="dropdown-item" href="{% url 'interest_update' i.id %}"><i class="bi bi-pencil-square"></i></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="dropdown-item" href="{% url 'interest_delete' i.id %}"><i class="bi bi-trash3-fill"></i></a>         
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
  {% endblock %}
 